* {
  box-sizing: border-box;
  font-family: "Source Sans Pro";
  font-size: 1rem;
}
.video {
  position: relative;
  height: 0;
  padding-top: 25;
  padding-bottom: 56.25%;
  align-content: center;
  align-self: center;
  margin: 0 auto;
  max-width: 688px;
}
iframe {
  position: absolute;
  top: 0;
  left: 0;
  align-self: center;
  width: 100%;
  height: 100%;
}
a.social-link {
  padding: 5px;
}

#home {
  background: #2b2b2b;
  background-image: url("images/header-background.jpg");
  height: 700px;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  line-height: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #f2f2f2;
  text-align: center;
}
#home h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-top: -10px;
}
.sub-title {
  width: 80%;
}
#about,
#resume {
  background: #2b2b2b;
  line-height: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #f2f2f2;
  text-align: center;
  padding-top: 50px;
}

#contact {
  background: #f2f2f2;
  line-height: 1.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: #2b2b2b;
  text-align: center;
  padding-top: 50px;
}
#projects {
  background: #f2f2f2;
  line-height: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #2b2b2b;
  text-align: center;
  padding-bottom: 50px;
}

#about a,
#contact a {
  text-decoration: none;
  color: #f09c60;
  cursor: pointer;
}

#about h2,
#resume h2 {
  font-size: 2rem;
  text-align: left;
  align-self: start;
  font-weight: bold;
  color: #7a8fbc;
  margin: 0 auto;
}
#projects h2 {
  font-size: 2rem;
  text-align: center;
  align-self: start;
  font-weight: bold;
  color: #7a8fbc;
  margin: 0 auto;
  padding-top: 30px;
}
#projects li {
  line-height: 1.25rem;
  text-align: left;
  width: 500px;
  margin: auto;
  padding-top: -15px;
}

.about-text,
.experience {
  margin-top: 20px;
  text-align: left;
  width: 65%;
}
.profile {
  float: left;
  width: 65%;
  display: grid;
  margin-top: 50px;
  margin-bottom: 50px;
  grid-template-columns: 30% 70%;
}
.contact {
  text-align: left;
  width: 20em;
  float: left;
}
.profile-pic {
  margin-top: 10px;
  text-align: left;
  width: 10em;
  float: left;
  border-radius: 10px;
}
h3.title {
  margin-top: 15px;
  color: #7a8fbc;
}
.project-div {
  border-bottom: 1px dashed #2b2b2b;
  padding-bottom: 20px;
}
.github,
.github:visited,
.github:hover {
  text-decoration: none;
  cursor: pointer;
  padding-top: 0;
  margin-top: 0;
}
.roles-experience {
  line-height: 1.15em;
  display: block;
}
.roles-experience span {
  font-weight: bold;
  padding-top: 25px;
  display: block;
  font-size: 1.1em;
}
.roles-experience-about {
  padding-right: 25px;
  display: block;
  font-size: 0.9em;
  line-height: 1.3em;
}
span.title {
  font-size: 100%;
  font: inherit;
  color: #7a8fbc;
  font-size: 0.9em;
  line-height: 1.3em;
  padding: 0;
}
span.description {
  font-size: 0.9em;
  font-weight: lighter;
  padding: 0;
  line-height: 1.3em;
}
#navbar {
  overflow: hidden;
  background-color: #2b2b2b;
}

#navbar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

.sticky {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}

@media only screen and (max-width: 760px),
  (min-device-width: 768px) and (max-device-width: 1024px) {
  #about,
  #resume,
  #projects,
  #home {
    width: 100%;
  }
  .video {
    position: relative;
    height: 0;
    padding-top: 25;
    padding-bottom: 56.25%;
    align-content: center;
    align-self: center;
    margin: 0 auto;
  }
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    align-self: center;
    width: 100%;
    height: 100%;
  }
  #home {
    height: 500px;
  }
  #home h1 {
    font-size: 2rem;
    font-weight: bold;
    margin-top: -10px;
  }
  .profile {
    float: left;
    width: 65%;
    display: block;
  }
  #about h2 {
    margin: 20px 0;
  }

  #projects h2 {
    text-align: center;
  }

  #projects li {
    line-height: 1.25rem;
    text-align: left;
    margin: auto;
    padding-top: -15px;
    width: 80%;
  }
}
