* {
  box-sizing: border-box;
  font-family: "Inconsolata";
}
.App {
  background-image: linear-gradient(to right, rgb(53, 53, 53), rgb(93, 93, 93));
  box-shadow: inset 0 0 50px rgb(104, 104, 104);
}
#navbar {
  background-color: #2b2b2b;
  position: fixed;
  top: -0;
  width: 100%;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

#navbar a {
  display: inline-block;
  color: #f2f2f2;
  align-self: start;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.1em;
}

#navbar a:hover,
svg:hover {
  background-color: #f2f2f2;
  color: #2b2b2b;
}
a.social-link {
  padding-right: 10px;
}
#about {
  /*background: #2b2b2b;
  background-image: url("images/header-background.jpg");
  height: 720px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
  /* background-image: linear-gradient(to right, rgb(53, 53, 53), rgb(93, 93, 93));
  box-shadow: inset 0 0 50px rgb(104, 104, 104); */
  min-height: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #f2f2f2;
  text-align: justify;
}
#about h1 {
  font-size: 3.75rem;
  font-weight: bold;
  margin-top: 50px;
  margin-bottom: 0px;
}
#about h2 {
  font-size: 2rem;
  font-weight: bold;
}
.about {
  width: 60%;
  display: grid;
  grid-template-columns: 80% 20%;
  float: center;
  background-color: #2b2b2b;
  margin-bottom: 100px;
}
.about-text {
  width: 90%;
  padding: 50px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  line-height: 2rem;
  font-size: 1.15rem;
}
.profile-pic {
  margin-top: 10px;
  padding: 50px 20px 50px 10px;
  text-align: left;
  width: 250px;
}

#projects {
  line-height: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-bottom: 20px;
  padding-top: 50px;
  color: #c9c9c9;
}
#resume h2,
#skills h2,
#projects h2 {
  font-weight: bold;
  margin: 0 auto;
  font-size: 2.75rem;
  margin-bottom: 0px;
  color: rgb(179, 178, 178);
}
.project-div:first-child {
  border-bottom: 1px dashed #c9c9c9;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-top: 30px;
}
.project-div {
  border-bottom: 1px dashed #c9c9c9;
  /* margin-top: 30px;
  margin-bottom: 30px; */
  padding-top: 30px;
}
.project-div:last-child {
  border-bottom: none;
  margin-top: 30px;
  margin-bottom: 30px;
}
h3.experience,
h3.title {
  margin: 5px 0 5px;
  font-size: 1.75rem;
  color: white;
}

.video {
  position: relative;
  height: 0;
  padding-top: 25;
  padding-bottom: 56.25%;
  align-content: center;
  align-self: center;
  margin: 0 auto;
  max-width: 688px;
}
iframe {
  position: absolute;
  top: 0;
  left: 0;
  align-self: center;
  width: 100%;
  height: 100%;
}
.github-live {
  display: inline-flex;
  margin: 0 auto;
}

.github,
.github:visited,
.github:hover {
  /* text-decoration: none; */
  cursor: pointer;
  padding-top: 0;
  margin-top: 0;
  margin: 0 auto;
  color: darkgrey;
  text-align: center;
}
.live,
.live:visited,
.live:hover {
  /* text-decoration: none; */
  cursor: pointer;
  padding-top: 0;
  margin-top: 0;
  margin-left: 5px;
  color: darkgrey;
  text-align: center;
}

#projects li {
  line-height: 1.25rem;
  text-align: left;
  width: 500px;
  margin: 0 auto;
  padding-top: -15px;
  color: white;
  margin-bottom: 10px;
  margin-right: 20px;
  text-align: justify;
}
#projects li:last-child {
  margin-bottom: 30px;
}

#skills {
  line-height: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #f2f2f2;
  text-align: center;
  padding-top: 50px;
}

.skills {
  padding-top: 0px;
  padding-left: 5px;
  line-height: 1.15em;
  font-weight: bold;
  font-size: 1.75em;
  max-width: 60%;
  overflow: auto;
}
.skills-item {
  margin-bottom: -10px;
  float: left;
  padding: 5px;
  margin: 0 auto;
  list-style: square inside;
}
#resume {
  line-height: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #f2f2f2;
  text-align: center;
  padding-top: 50px;
  width: 70%;
  border-top: 1px dashed grey;
  margin: 0 auto;
}
.download {
  display: block;
  margin: 0 auto;
  width: 50%;
}
a.download {
  color: #2b2b2b;
  background-color: #7a8fbc;
  text-decoration: none;
  text-align: center;
  font-size: 1.2em;
  margin-top: 30px;
}
/* I'm here */

#contact {
  background: #f2f2f2;
  line-height: 1.15em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: #2b2b2b;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: -30%;
}

#contact a {
  text-decoration: none;
  color: #f09c60;
  cursor: pointer;
}

#contact h2 {
  font-size: 2rem;
  font-weight: bold;
  color: #7a8fbc;
  margin-bottom: -10px;
}

.experience {
  margin-top: 20px;
  margin: 0 auto;
  text-align: justify;
  width: 70%;
  margin-bottom: 30px;
}
.contact {
  margin-top: 10px;
  margin: 0 auto;
  text-align: left;
  width: 55%;
}
.contact-details {
  line-height: 1.25rem;
  padding-top: 30px;
}

.roles-experience {
  line-height: 1.15em;
  display: block;
  padding-bottom: 3px;
  text-decoration: none;
}

.roles-experience span {
  font-weight: bold;
  padding-top: 15px;
  display: block;
  font-size: 1.1em;
  color: white;
  text-decoration: underline;
}
.roles-experience-about {
  padding-right: 25px;
  display: block;
  line-height: 1.4em;
}
span.title {
  font: inherit;
  color: darkgrey;
  font-size: 0.9em;
  line-height: 1.3em;
  padding: 0;
  font-weight: bold;
  text-decoration: none;
  margin-left: 25px;
}
span.description {
  font-size: 0.9em;
  padding: 0;
  line-height: 1.4em;
  color: ;
  text-decoration: none;
  margin-left: 25px;
}
i {
  margin-left: 5px;
}
.contact-social {
  margin-top: 20px;
  font-size: 20px;
}
a.contact-social {
  margin-top: 20px;
  font-size: 50px;
}
.details {
  font-size: 1.15rem;
  line-height: 1.5rem;
}

a.details {
  font-size: 1.25rem;
}

@media only screen and (max-width: 760px),
  (min-device-width: 768px) and (max-device-width: 1024px) {
  .App {
    width: 100%;
  }
  #resume,
  #projects,
  #contact,
  #about {
    /* width: 90%; */
    height: auto;
  }

  .about {
    display: block;
    width: 90%;
  }
  .profile-pic {
    margin-top: 10px;
    width: 80%;
    max-width: 300px;
  }
  .video {
    position: relative;
    height: 0;
    padding-top: 25;
    padding-bottom: 56.25%;
    align-content: center;
    align-self: center;
    margin: 0 auto;
  }
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    align-self: center;
    width: 100%;
    height: 100%;
  }

  #about h1 {
    padding-top: 100px;
    font-size: 2rem;
    font-weight: bold;
  }
  #about h2 {
    font-size: 1.5rem;
    font-weight: bold;
  }
  .profile {
    float: left;
    width: 65%;
    display: block;
    margin-top: 50px;
    margin-bottom: 50px;
    grid-template-columns: 30% 70%;
  }
  #contact h2 {
    margin: 20px 0;
    color: #7a8fbc;
  }

  #projects h2 {
    text-align: center;
  }

  #projects li {
    line-height: 1.25rem;
    text-align: left;
    margin: auto;
    padding-top: -15px;
    width: 80%;
  }
  .contact-details {
    padding-top: 0;
    line-height: 1.25rem;
    font-size: 2em;
  }

  .experience {
    width: 85%;
  }
  .about-text {
    width: 100%;
    background-color: #2b2b2b;
    padding: 20px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 auto;
    line-height: 1.5rem;
  }
}
