* {
  box-sizing: border-box;
  font-family: "Lato";
}
a.social-link {
  padding: 5px;
}

#home {
  background: #2b2b2b;
  background-image: url("images/header-background.jpg");
  height: 700px;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  line-height: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #f2f2f2;
  text-align: center;
}
#home h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-top: -10px;
}
.sub-title {
  width: 80%;
}
#about,
#contact {
  background: #2b2b2b;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  line-height: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #f2f2f2;
  text-align: center;
  padding-top: 50px;
}

#about a,
#contact a {
  text-decoration: none;
  color: #f09c60;
  cursor: pointer;
}
#about h2 {
  font-size: 2rem;
  text-align: left;
  align-self: start;
  font-weight: bold;
  color: #7a8fbc;
  margin: 0 auto;
}

.about-text {
  margin-top: 20px;
  text-align: left;
  width: 65%;
}
.profile {
  float: left;
  width: 65%;
  display: grid;
  margin-top: 50px;
  grid-template-columns: 30% 70%;
}
.contact {
  text-align: left;
  width: 20em;
  float: left;
}
.profile-pic {
  margin-top: 10px;
  text-align: left;
  width: 10em;
  float: left;
  border-radius: 10px;
}

#navbar {
  overflow: hidden;
  background-color: #2b2b2b;
}

#navbar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

.sticky {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}

@media only screen and (max-width: 760px),
  (min-device-width: 768px) and (max-device-width: 1024px) {
  #home {
    height: 500px;
  }
  #home h1 {
    font-size: 2rem;
    font-weight: bold;
    margin-top: -10px;
  }
  .profile {
    float: left;
    width: 65%;
    display: block;
  }
  #about h2 {
    margin: 20px 0;
  }
}
